<actcuatorServer name="The Servername" latitude="55.5" longitude="-44.4233" >
	<actuators>
		<actuator id="1" name="Test actuator1" type="lamp">
			<actions>
				<action name="on" function="transmit_code" parameter="1111101111101010110011001"/>
				<action name="off" function="transmit_code" parameter="1111101111101010110000111"/>
			</actions>
		</actuator>
    <actuator id="2" name="Test actuator2" type="switch">
      <actions>
        <action name="on" function="transmit_code" parameter="1111101111101010110011001"/>
        <action name="off" function="transmit_code" parameter="1111101111101010110000111"/>
      </actions>
    </actuator>
	</actuators>
</actcuatorServer>
